#header {
	display: flex;
	justify-content: flex-start;
	border-style: solid;
	margin-left: 15em;
	margin-right: 15em;
}

#inputs, #story {
	text-align: center;
	margin-left: 15em;
	margin-right: 15em;
	padding-left: 5em;
	padding-right: 5em;
	border-style: solid;
}

#face {
	border-right: solid;
	padding-right: 3em;
	padding-left: 2.5em;
}

#smile {
	height: 7em;
	animation: roll 4s infinite;
	transform: rotate(35deg);
}

@keyframes roll {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#title {
	text-align: center;
	padding-left: 13em;
}

#title img {
	height: 3em;
}

.animate {
	transition: all 0.25s;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
	font-size: 1em;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
	font-size: 2em;
	color: red;
}